 <div class="logo">
            <img src="/static/images/APAlogo.jpg" alt="Kutumbh HRCare">
        </div>
        <nav>
            <ul>
                
                <li><a href="/">Home</a></li>
                <li><a href="/about">About Us</a></li>
                <li class="dropdown">
                    <a href="#" class="dropbtn">Services <span>&#43;</span></a>
                    <div class="dropdown-content">
                        <a href="/manpower">Manpower Supply</a>
                        <a href="/deepcleaning">Deep Cleaning</a>
                        <a href="/security">Security Guard</a>
                        <a href="/housekeeping">House keeping </a>
                        
                        <a href="/HRMservice">HRM Service</a>
                        <a href="/Pestcontrol">Pest Control</a>
                        <a href="/Onboarding">Onboarding</a>
                        <a href="/GST">GST Registration</a>
                        <a href="/CafeteriaManagement">Cafeteria Management</a>
                        <a href="/TicketsBooking">Travelling & Booking Tickets</a>
                        <a href="/EventPlanning">Event Planner/Organizer</a>
                    </div>
                </li>
                
            </ul>
        </nav>
        <div class="header-buttons">
            <a href="tel:+919643016212" class="contact-btn">Contact Us</a>
        </div>