<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="/static/css/about.css">
    <title>Manpower</title>
</head>
<body>
    <header>
         {{> navbars}} 
    </header>
    <!-- Company Overview Section -->
    <section class="company-overview">
        <div class="section-header">
            <h2>Cafeteria Management service</h2>
           
        </div>
        <div class="company-overview-text">
            <p>Our Cafeteria Management services are designed to provide efficient, hygienic, and cost-effective solutions for both corporate and industrial settings. We handle every aspect of cafeteria operations, from menu planning and food preparation to staff management and inventory control. Our focus is on delivering high-quality meals that cater to diverse dietary preferences while ensuring a seamless dining experience for employees. By streamlining processes, maintaining strict hygiene standards, and enhancing employee satisfaction, we help businesses create a well-managed, productive, and enjoyable cafeteria environment</p>
        </div>
        <div>
            <img src="/static/images/Cafe.jpg" alt="Company Overview Image">
        </div>
    </section>

    

    

    <!-- YouTube Video Section -->
    <section>
        <div class="section-header">
            <h2>Our Journey</h2>
            <p>Watch a video to learn more about our story and impact</p>
        </div>
        <div>
            <iframe src="https://www.youtube.com/embed/YOUR_VIDEO_ID" title="YouTube video player" allowfullscreen></iframe>
        </div>
    </section>
    <footer>
         {{>footer}}
    </footer>
</body>
</html>