<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="/static/css/about.css">
    <title>Manpower</title>
</head>
<body>
    <header>
         {{> navbars}} 
    </header>
    <!-- Company Overview Section -->
    <section class="company-overview">
        <div class="section-header">
            <h2>GST services</h2>
           
        </div>
        <div class="company-overview-text">
            <p>Our GST (Goods and Services Tax) services provide comprehensive support for businesses to ensure compliance with tax regulations and efficient management of GST processes. We offer expert guidance on GST registration, return filing, and documentation to help you navigate the complexities of the tax system. Our team conducts thorough assessments to identify input tax credits and ensures accurate calculations to minimize tax liabilities. With a focus on staying updated with the latest GST laws and amendments, we aim to provide you with tailored solutions that enhance your financial management while reducing compliance risks. Trust us to streamline your GST processes, allowing you to concentrate on growing your business with confidence.</p>     </div>
        <div>
            <img src="/static/images/GSTimg.jpg" alt="Company Overview Image">
        </div>
    </section>

  
    

    <!-- YouTube Video Section -->
    <section>
        <div class="section-header">
            <h2>Our Journey</h2>
            <p>Watch a video to learn more about our story and impact</p>
        </div>
        <div>
            <iframe src="https://www.youtube.com/embed/YOUR_VIDEO_ID" title="YouTube video player" allowfullscreen></iframe>
        </div>
    </section>
    <footer>
         {{>footer}}
    </footer>
</body>
</html>