<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="/static/css/about.css">
    <title>Manpower</title>
</head>
<body>
    <header>
         {{> navbars}} 
    </header>
    <!-- Company Overview Section -->
    <section class="company-overview">
        <div class="section-header">
            <h2>HouseKeeping Service</h2>
           
        </div>
        <div class="company-overview-text">
            <p>Our Housekeeping services provide meticulous and reliable cleaning solutions for both residential and commercial spaces. We specialize in maintaining cleanliness and hygiene, offering a range of services including routine cleaning, deep cleaning, and specialized cleaning for various surfaces and areas. Our trained staff is dedicated to creating a welcoming and comfortable environment, ensuring that every corner is attended to with care and precision. By using eco-friendly products and efficient techniques, we prioritize the health and safety of our clients. Whether you need regular housekeeping or a one-time deep clean, our commitment to quality service guarantees a spotless and inviting space for you and your guests.</p>        </div>
        <div>
            <img src="/static/images/clean.jpg" alt="Company Overview Image">
        </div>
    </section>

  

    

    <!-- YouTube Video Section -->
    <section>
        <div class="section-header">
            <h2>Our Journey</h2>
            <p>Watch a video to learn more about our story and impact</p>
        </div>
        <div>
            <iframe src="https://www.youtube.com/embed/YOUR_VIDEO_ID" title="YouTube video player" allowfullscreen></iframe>
        </div>
    </section>
    <footer>
         {{>footer}}
    </footer>
</body>
</html>