<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="/static/css/about.css">
    <title>Manpower</title>
</head>
<body>
    <header>
         {{> navbars}} 
    </header>
    <!-- Company Overview Section -->
    <section class="company-overview">
        <div class="section-header">
            <h2>Manpower Service</h2>
       
        </div>
        <div class="company-overview-text">
            <p>Our Manpower Supply services offer tailored staffing solutions to meet the diverse needs of your business. We specialize in recruiting and placing skilled personnel across various industries, ensuring that you have the right talent to drive your operations forward. From temporary staffing to long-term placements, our rigorous selection process ensures that we match candidates with the specific skills and experience required for each role. We prioritize understanding your unique requirements and workplace culture, enabling us to provide a seamless integration of new employees into your team. With our commitment to quality and efficiency, we help you achieve your workforce goals while minimizing hiring challenges.</p>        </div>
        <div>
            <img src="/static/images/Manpower.jpg" alt="Company Overview Image">
        </div>
    </section>

   

    

    <!-- YouTube Video Section -->
    <section>
        <div class="section-header">
            <h2>Our Journey</h2>
            <p>Watch a video to learn more about our story and impact</p>
        </div>
        <div>
            <iframe src="https://www.youtube.com/embed/YOUR_VIDEO_ID" title="YouTube video player" allowfullscreen></iframe>
        </div>
    </section>
    <footer>
         {{>footer}}
    </footer>
</body>
</html>