<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="/static/css/about.css">
    <title>Manpower</title>
</head>
<body>
    <header>
         {{> navbars}} 
    </header>
    <!-- Company Overview Section -->
    <section class="company-overview">
        <div class="section-header">
            <h2>Office boy</h2>
            
        </div>
        <div class="company-overview-text">
            <p>Our Office Boy services provide essential support to ensure the smooth and efficient operation of your workplace. Our trained personnel handle various tasks, including managing office supplies, maintaining cleanliness, assisting with document preparation, and providing general administrative support. With a focus on professionalism and reliability, our office boys contribute to a positive work environment by ensuring that day-to-day operations run seamlessly. By taking care of these essential tasks, we enable your team to concentrate on their core responsibilities, enhancing overall productivity and workplace efficiency.</p>
        </div>
        <div>
            <img src="/static/images/.jpg" alt="Company Overview Image">
        </div>
    </section>

   
    

    <!-- YouTube Video Section -->
    <section>
        <div class="section-header">
            <h2>Our Journey</h2>
            <p>Watch a video to learn more about our story and impact</p>
        </div>
        <div>
            <iframe src="https://www.youtube.com/embed/YOUR_VIDEO_ID" title="YouTube video player" allowfullscreen></iframe>
        </div>
    </section>
    <footer>
         {{>footer}}
    </footer>
</body>
</html>