<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="/static/css/about.css">
    <title>Manpower</title>
</head>
<body>
    <header>
         {{> navbars}} 
    </header>
    <!-- Company Overview Section -->
    <section class="company-overview">
        <div class="section-header">
            <h2>Onboarding service</h2>
            
        </div>
        <div class="company-overview-text">
            <p>Our Onboarding services are designed to facilitate a smooth transition for new employees, ensuring they feel welcomed, informed, and equipped for success from day one. We provide a structured onboarding process that includes orientation sessions, training programs, and the necessary resources to help new hires integrate into your organization seamlessly. Our approach focuses on building strong connections between new employees and their teams, fostering a positive work culture, and aligning them with your company’s values and goals. By enhancing the onboarding experience, we aim to improve employee retention, satisfaction, and overall productivity</p>       </div>
        <div>
            <img src="/static/images/Onboarding.jpg" alt="Company Overview Image">
        </div>
    </section>

   

    

    <!-- YouTube Video Section -->
    <section>
        <div class="section-header">
            <h2>Our Journey</h2>
            <p>Watch a video to learn more about our story and impact</p>
        </div>
        <div>
            <iframe src="https://www.youtube.com/embed/YOUR_VIDEO_ID" title="YouTube video player" allowfullscreen></iframe>
        </div>
    </section>
    <footer>
         {{>footer}}
    </footer>
</body>
</html>