<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="/static/css/about.css">
    <title>Manpower</title>
</head>
<body>
    <header>
         {{> navbars}} 
    </header>
    <!-- Company Overview Section -->
    <section class="company-overview">
        <div class="section-header">
            <h2>Security Services</h2>
           
        </div>
        <div class="company-overview-text">
            <p>Our Security Services offer comprehensive solutions to safeguard your assets, people, and premises, whether in corporate, industrial, or residential settings. We provide trained personnel for on-site security, surveillance systems, access control, and risk assessment to ensure a safe environment. Our team is equipped to handle a range of security needs, from event security and crowd management to emergency response planning. With a commitment to proactive measures and 24/7 monitoring, we aim to provide peace of mind and protect what matters most to you</p>
        </div>
        <div>
            <img src="/static/images/Security.jpeg" alt="Company Overview Image">
        </div>
    </section>

    

    

    <!-- YouTube Video Section -->
    <section>
        <div class="section-header">
            <h2>Our Journey</h2>
            <p>Watch a video to learn more about our story and impact</p>
        </div>
        <div>
            <iframe src="https://www.youtube.com/embed/YOUR_VIDEO_ID" title="YouTube video player" allowfullscreen></iframe>
        </div>
    </section>
    <footer>
         {{>footer}}
    </footer>
</body>
</html>