<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="/static/css/about.css">
    <title>Manpower</title>
</head>
<body>
    <header>
         {{> navbars}} 
    </header>
    <!-- Company Overview Section -->
    <section class="company-overview">
        <div class="section-header">
            <h2>Travelling And Ticket Booking</h2>
           
        </div>
        <div class="company-overview-text">
            <p>Our Travel Management services are designed to simplify and streamline corporate and personal travel, ensuring a smooth and hassle-free experience. We handle every detail, from booking flights, accommodations, and transportation to organizing itineraries and managing expenses. Whether it's business trips, conferences, or leisure travel, we provide customized solutions that cater to your specific needs while optimizing cost and time efficiency. With a focus on comfort, convenience, and personalized service, we ensure that your travel experience is seamless and enjoyable from start to finish.</p>
        </div>
        <div>
            <img src="/static/images/Ticket.jpeg" alt="Company Overview Image">
        </div>
    </section>

    <!-- Services Section -->
    <section class="services">
        <div class="section-header">
            <h2>Our Services</h2>
            <p>We offer a wide range of services tailored to your needs</p>
        </div>
        <div class="service">
            <img src="service1.jpg" alt="Service 1">
            <h3>Service 1</h3>
            <p>We provide top-notch consulting services to streamline your business operations.</p>
        </div>
        <div class="service">
            <img src="service2.jpg" alt="Service 2">
            <h3>Service 2</h3>
            <p>Our technology solutions help you stay ahead in the competitive market.</p>
        </div>
       
    </section>

    

    <!-- YouTube Video Section -->
    <section>
        <div class="section-header">
            <h2>Our Journey</h2>
            <p>Watch a video to learn more about our story and impact</p>
        </div>
        <div>
            <iframe src="https://www.youtube.com/embed/YOUR_VIDEO_ID" title="YouTube video player" allowfullscreen></iframe>
        </div>
    </section>
    <footer>
         {{>footer}}
    </footer>
</body>
</html>